/*main.css*/
body{
    background-color: blueviolet;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}
input { 
    margin: 10px; 
    padding: 10px; 
    display: block; 
    width: 100%; 
    max-width: 356px; 
}
button { 
    margin: 10px; 
    padding: 10px; 
    display: block; 
    width: 100%; 
    max-width: 380px; 
}
.container { 
    width: 100%; 
    max-width: 400px; 
    margin: auto; 
}
